.container

  %h3 Classifilter widget installation Instructions

  %ol
    %li If you have not already, go to #{link_to request.base_url + '/signup', request.base_url + '/signup'} and sign up for a gallery account.
    %li Please locate the template for your article layout.
    %li Copy the script (Fig. 1 – Script Template) into the template where you would like the widget to appear on your page.
    %li Replace the topics, publishDate, artistName, and type with the values that would be placed on your page.
    %li This will typically be done with some dynamic code references.
    %li See Fig. 2 – Dynamic Template for an example using Ruby on Rails haml.

    %li That’s it, make your changes live and the widget will have been installed.
    %li When rendered to a user, the code will appear something similar to the Rendered Template (Fig. 3).

  Fig. 1 – Script Template
  %pre
    &lt;script src="http://localhost:3000/javascripts/classifilter-init.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    Classifilter.init({
    galleryId: '7762cc3f-2994-436a-b912-25e915c8d475',
    topics: 'Your topics here',
    publishDate: 'Your publish date here',
    artistName: 'Your author name',
    type: "Article or whatever type of page"
    });
    &lt;/script&gt;

  Fig. 2 – Dynamic Template
  %pre
    &lt;script src="http://localhost:3000/javascripts/classifilter-init.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    Classifilter.init({
    galleryId: '7762cc3f-2994-436a-b912-25e915c8d475',
    topics: '\#{@article.topics}',
    %br/
    publishDate: '\#{@article.publish_date}',
    %br/
    artistName: '\#{@article.author.name}',
    %br/
    type: "\#{@article.type}"
    %br/
    });
    &lt;/script&gt;

  Fig.3 – Rendered Template
  %pre
    &lt;script src="http://localhost:3000/javascripts/classifilter-init.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    Classifilter.init({
    galleryId: '7762cc3f-2994-436a-b912-25e915c8d475',
    topics: 'words, language, fake articles, demo',
    publishDate: 'Jan 04, 2019',
    artistName: 'Douglas Adams',
    type: "article",
    });
    &lt;/script&gt;
