.jumbotron.center-form
  %h2 Art Settings

  %p
  %p

  .form
    = form_for(@art) do |f|
      = render "/shared/error_messages", :target => @art
      .form-group.form-inline.form-group-lg
        = f.check_box :disabled
        = f.label :disabled, "Disable Art: Do not allow new comments, replies, or votes"


      .form-group.form-inline.form-group-lg
        = f.check_box :deactivated
        = f.label :deactivated, "Deactivate Art: Do not show a commenting section for this art"

      .form-group.form-group-lg.actions
        = f.submit "Update Settings", class: "btn btn-primary", style: "width: 100%"
