%table.table.table_stripped
  %thead
    %tr
      %th ID
      %th URL
      %th Status
      %th Published At
      %th Thread Started
      %th Last Interaction
      %th Topics
      %th Pending Comments
      %th

  %tbody
    - @arts.each do |art|
      %tr
        %td= link_to art.id, art_path(art.id)
        %td= link_to "http://#{art.url}"  , "http://#{art.url}", target: "_blank"
        %td= art.status
        %td= display_date art.published_at
        %td= display_date art.created_at
        %td= display_date art.last_interaction_at
        %td= art.topics_list
        %td= art.pending_comments.size
        %td= link_to "settings", edit_art_path(art)
