<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://classifilterstore.blob.core.windows.net/graphics/images/BkMrk.png" >
    <title>CmmntzAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>

  </head>

  <body id="body">
    <div id="body-container" class="container-fluid">
      <div id="ca-app" data-customer-id="<%= current_customer.id if current_customer %>" data-customer-name="<%= current_customer.name if current_customer %>" data-customer-gallery="<%= current_customer.gallery.name if current_customer %>" data-gallery-id="<%= current_customer.gallery_id if current_customer %>" />
      <%= yield %>
    </div>

  </body>
</html>
