<!DOCTYPE html>
<html>
  <head>
    <title>ClassifilterAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>

  </head>

  <body id="body">
    <div id="body-container" class="container-fluid">
      <%= render "/layouts/navigation" %>

      <%= yield %>
    </div>

  </body>
</html>
